.calendar-container {
   
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item {

   
    position: relative;
    background-color: turquoise;
    width: 95%;
    border: 1px solid black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2px;
    height: 80px;
  


}
.date-header{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.list-item {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 100%;
    border-right: 1px solid black;
   

    background-color: white;

}


.project {
    position: absolute;
    width: 80%;
    margin-top: 250px;
    background-color: gainsboro;
    min-height: 60px;
    border: 1px solid gray;
    margin-left: 40px;
}
.project p{
    margin: 0px;
}
.date-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-header-child h2{
font-size: 1.20rem;
color: 	#303030;
}
.date-header-child h3{
    font-size: 1.15rem;
    color: #707070;
}

.date-header-child input{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    border-radius: 7px;
}
